body{
    display: flex;
    margin-left: 50px;
    padding: 0;
    margin: 0;
    justify-content: center;
}
.services,
.services * {
  box-sizing: border-box;
}
.services {
  background: rgba(154, 227, 219, 0.22);
  height: 2764px;
  position: relative;
  overflow: hidden;
}
.sub-head {
  width: 1366px;
  height: 250px;
  position: absolute;
  left: 0px;
  top: 160px;
}
.rectangle-3 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.rectangle-4 {
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.group-203 {
  position: absolute;
  inset: 0;
}
.frame-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: hidden;
}
.ellipse-1 {
  background: var(--accent, #bfd2f8);
  border-radius: 50%;
  opacity: 0.5;
  width: 256px;
  height: 256px;
  position: absolute;
  right: -128px;
  top: 122px;
}
.ellipse-2 {
  background: var(--secondary, #159eec);
  border-radius: 50%;
  opacity: 0.3;
  width: 239px;
  height: 239px;
  position: absolute;
  left: -119px;
  top: -119px;
}
.group-184 {
  width: 1366px;
  height: 8px;
  position: static;
}
.rectangle-76 {
  background: var(--primary, #1f2b6c);
  width: 61.29%;
  height: 3.2%;
  position: absolute;
  right: 16.33%;
  left: 22.38%;
  bottom: 0%;
  top: 96.8%;
}
.rectangle-78 {
  background: var(--secondary, #159eec);
  width: 16.33%;
  height: 3.2%;
  position: absolute;
  right: 0%;
  left: 83.67%;
  bottom: 0%;
  top: 96.8%;
}
.rectangle-77 {
  background: var(--accent, #bfd2f8);
  width: 22.38%;
  height: 3.2%;
  position: absolute;
  right: 77.62%;
  left: 0%;
  bottom: 0%;
  top: 96.8%;
}
.group-108 {
  position: absolute;
  inset: 0;
}
.about-us {
  color: var(--primary, #1f2b6c);
  text-align: left;
  font-family: var(--display-1-font-family, "YesevaOne-Regular", sans-serif);
  font-size: var(--display-1-font-size, 48px);
  font-weight: var(--display-1-font-weight, 400);
  position: absolute;
  right: 63.91%;
  left: 13.69%;
  width: 22.4%;
  bottom: 39.2%;
  top: 38.8%;
  height: 22%;
}
.home-about {
  color: var(--primary, #1f2b6c);
  text-align: left;
  font-family: var(--body-2-font-family, "WorkSans-Regular", sans-serif);
  font-size: var(--body-2-font-size, 18px);
  line-height: var(--body-2-line-height, 140%);
  font-weight: var(--body-2-font-weight, 400);
  position: absolute;
  right: 75.7%;
  left: 13.69%;
  width: 10.61%;
  bottom: 59.6%;
  top: 30.4%;
  height: 10%;
}
.footer {
  width: 1366px;
  height: 481px;
  position: absolute;
  left: 0px;
  top: 2153px;
}
.rectangle-32 {
  background: var(--primary, #1f2b6c);
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.group-88 {
  position: absolute;
  inset: 0;
}
.meddical {
  color: var(--accent, #bfd2f8);
  text-align: left;
  font-family: "YesevaOne-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  right: 72.18%;
  left: 13.69%;
  width: 14.13%;
  bottom: 74.87%;
  top: 16.39%;
  height: 8.73%;
}
.leading-the-way-in-medical-execellence-trusted-care {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: var(--body-2-font-family, "WorkSans-Regular", sans-serif);
  font-size: var(--body-2-font-size, 18px);
  line-height: var(--body-2-line-height, 140%);
  font-weight: var(--body-2-font-weight, 400);
  position: absolute;
  right: 68.74%;
  left: 13.69%;
  width: 17.57%;
  bottom: 59.16%;
  top: 30.44%;
  height: 10.4%;
}
.group-84 {
  position: absolute;
  inset: 0;
}
.important-links {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  right: 55.78%;
  left: 33.82%;
  width: 10.4%;
  bottom: 79.24%;
  top: 16.39%;
  height: 4.37%;
}
.group-86 {
  width: 102px;
  height: 120px;
  position: static;
}
.appointment {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: var(--body-font-family, "WorkSans-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 140%);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  right: 58.71%;
  left: 33.82%;
  width: 7.47%;
  bottom: 64.98%;
  top: 30.44%;
  height: 4.57%;
}
.doctors {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: var(--body-font-family, "WorkSans-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 140%);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  right: 61.71%;
  left: 33.82%;
  width: 4.47%;
  bottom: 58.19%;
  top: 37.24%;
  height: 4.57%;
}
.services2 {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: var(--body-font-family, "WorkSans-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 140%);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  right: 61.35%;
  left: 33.82%;
  width: 4.83%;
  bottom: 51.4%;
  top: 44.03%;
  height: 4.57%;
}
.about-us2 {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: var(--body-font-family, "WorkSans-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 140%);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  right: 60.91%;
  left: 33.82%;
  width: 5.27%;
  bottom: 44.61%;
  top: 50.82%;
  height: 4.57%;
}
.group-87 {
  position: absolute;
  inset: 0;
}
.contact-us {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  right: 46.19%;
  left: 46.63%;
  width: 7.17%;
  bottom: 79.24%;
  top: 16.39%;
  height: 4.37%;
}
.group-85 {
  width: 234px;
  height: 120px;
  position: static;
}
.call-237-681-812-255 {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: var(--body-font-family, "WorkSans-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 140%);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  right: 40.34%;
  left: 46.63%;
  width: 13.03%;
  bottom: 64.98%;
  top: 30.44%;
  height: 4.57%;
}
.email-fildineesoe-gmail-com {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: var(--body-font-family, "WorkSans-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 140%);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  right: 36.24%;
  left: 46.63%;
  width: 17.13%;
  bottom: 58.19%;
  top: 37.24%;
  height: 4.57%;
}
.address-0123-some-place {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: var(--body-font-family, "WorkSans-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 140%);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  right: 38.29%;
  left: 46.63%;
  width: 15.08%;
  bottom: 51.4%;
  top: 44.03%;
  height: 4.57%;
}
.some-country {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: var(--body-font-family, "WorkSans-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 140%);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  right: 45.31%;
  left: 46.63%;
  width: 8.05%;
  bottom: 44.61%;
  top: 50.82%;
  height: 4.57%;
}
.group-90 {
  position: absolute;
  inset: 0;
}
.newsletter {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  right: 26.5%;
  left: 66.33%;
  width: 7.17%;
  bottom: 79.24%;
  top: 16.39%;
  height: 4.37%;
}
.group-89 {
  width: 272px;
  height: 56.32px;
  position: static;
}
.rectangle-50 {
  background: var(--accent, #bfd2f8);
  border-radius: 5px;
  width: 19.91%;
  height: 11.71%;
  position: absolute;
  right: 13.76%;
  left: 66.33%;
  bottom: 57.85%;
  top: 30.44%;
}
.vector {
  width: 1.72%;
  height: 4.22%;
  position: absolute;
  right: 15.05%;
  left: 83.24%;
  bottom: 59.58%;
  top: 36.2%;
  overflow: visible;
}
.enter-your-email-address {
  color: var(--primary, #1f2b6c);
  text-align: left;
  font-family: var(--body-font-family, "WorkSans-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 140%);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  right: 18.59%;
  left: 67.06%;
  width: 14.35%;
  bottom: 61.7%;
  top: 33.72%;
  height: 4.57%;
}
.vector-1 {
  width: 72.62%;
  height: 0%;
  position: absolute;
  right: 13.69%;
  left: 13.69%;
  bottom: 33.02%;
  top: 66.98%;
  overflow: visible;
}
.vector2 {
  width: 1.76%;
  height: 5.62%;
  position: absolute;
  right: 20.13%;
  left: 78.11%;
  bottom: 17.1%;
  top: 77.28%;
  overflow: visible;
}
.vector3 {
  width: 1.76%;
  height: 5.62%;
  position: absolute;
  right: 16.91%;
  left: 81.33%;
  bottom: 17.1%;
  top: 77.28%;
  overflow: visible;
}
.vector4 {
  width: 1.76%;
  height: 5.62%;
  position: absolute;
  right: 13.69%;
  left: 84.55%;
  bottom: 17.1%;
  top: 77.28%;
  overflow: visible;
}
._2021-hospital-s-name-all-rights-reserved-by-pntec-ltd {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 52.86%;
  left: 13.69%;
  width: 33.46%;
  bottom: 18.3%;
  top: 77.75%;
  height: 3.95%;
}
.frame-223 {
  width: 752px;
  height: 300px;
  position: absolute;
  left: 485px;
  top: 478px;
}
.rectangle-86 {
  width: 1437px;
  height: 206px;
  position: absolute;
  left: 0px;
  top: 94px;
  
  background-color: #fefcfb;
}
.hernia-ref-air-lap-chole-systecomy-lap-appendectomy {
  color: #159eec;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 26px;
  font-weight: 400;
  position: absolute;
  left: 155px;
  top: 167px;
}
.vector5 {
  width: 41.62%;
  height: 104%;
  position: absolute;
  right: -16.36%;
  left: 74.73%;
  bottom: -4.67%;
  top: -4.33%;
  overflow: visible;
  object-fit: cover;
}
/* .ellipse-22 {

  border-radius: 50%;
  
  width: 132px;
  height: 139px;
  position: absolute;
  left: -116px;
  
} */
.vector22{
    position: absolute;
    margin-top: 93px;

}
.facilities-services {
  color: #7b61ff;
  text-align: left;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 66px;
  font-weight: 700;
  position: absolute;
  left: 382px;
  top: 461px;
  width: 718px;
  height: 77px;
  -webkit-text-stroke: 1px transparent;
}
.frame-224 {
  width: 792px;
  height: 472px;
  position: absolute;
  left: 485px;
  top: 1172px;
}
.rectangle-862 {
  width: 537px;
  height: 300px;
  position: absolute;
  left: 514px;
  top: 0px;
  overflow: visible;
  z-index: 99;
}
.thyroid-surgery-hernia-surgery-breast-surgery-pilessurgery-gl-surgery-vascular-surgery {
  color: #000000;
  text-align: left;
  font-family: "InriaSerif-Light", sans-serif;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  left: 102px;
  top: 78px;
  width: 928px;
  height: 223px;
  border: 2px solid black;
  background-color: white;
  display: flex;
  justify-content:flex-start;
  padding-top: 60px;
  padding-left: 130px;
}
.ellipse-3 {
  background: var(--secondary, #159eec);
  border-radius: 50%;
  opacity: 0.3;
  width: 232px;
  height: 239px;
  position: absolute;
  left: -102px;
  top: -96px;
}
.group-252 {
  height: auto;
  position: absolute;
  left: -167px;
  top: 778px;
  overflow: visible;
}
.arthritic-care-fracture-treatment-trauma-care-24-x-7-arthroscopy-joint-replacement-hip-knee-physiotherapy-and-rehabiiitati-01 {
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  /* left: 501px; */
  top: 916px;
  width: 50%;
  height: 25vh;
  background-color: white;
  border: 2px solid black;
}
.arthritic-care-fracture-treatment-trauma-care-24-x-7-arthroscopy-joint-replacement-hip-knee-physiotherapy-and-rehabiiitati-01-span {
  color: #159eec;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.arthritic-care-fracture-treatment-trauma-care-24-x-7-arthroscopy-joint-replacement-hip-knee-physiotherapy-and-rehabiiitati-01-span2 {
  color: #1994da;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.rectangle-90 {
  width: 1238px;
  height: 398px;
  position: absolute;
  left: 84px;
  top: 1609px;
  overflow: visible;
}
.orthopedics {
  color: #d23a25;
  text-align: left;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 34px;
  font-weight: 700;
  position: absolute;
  /* left: 499px; */
  top: 865px;
}
.generalsurgery {
  color: #d23a25;
  text-align: left;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 34px;
  font-weight: 700;
  position: absolute;
  left: 690px;
  top: 1216px;
}
.ellipse-32 {
  opacity: 0.3;
  width: 116px;
  height: 119.5px;
  position: absolute;
  left: 1093px;
  top: 851px;
  transform: translate(-116px, 0px);
  overflow: visible;
}
.ellipse-4 {
  background: var(--secondary, #159eec);
  border-radius: 50%;
  opacity: 0.3;
  width: 232px;
  height: 239px;
  position: absolute;
  left: -33px;
  top: 1490px;
}
.ellipse-6 {
  opacity: 0.3;
  width: 116px;
  height: 119.5px;
  position: absolute;
  left: 1322.61px;
  top: 2007px;
  transform: translate(-116px, -119.5px);
  overflow: visible;
}
.vector6 {
  width: 30.75%;
  height: 16.32%;
  position: absolute;
  right: -13.1%;
  left: 82.36%;
  bottom: 44.75%;
  top: 38.93%;
  overflow: visible;
  object-fit: cover;
}
.group-251 {
  position: absolute;
  inset: 0;
}
.mcu {
  color: #d23a25;
  text-align: left;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 34px;
  font-weight: 700;
  position: absolute;
  left: 122px;
  top: 1879px;
  width: 326.38px;
  height: 65.61px;
}
.immunization-and-ali-common-pediatric-problems-including-surgery {
  color: #000000;
  text-align: left;
  font-family: "InriaSerif-Light", sans-serif;
  font-size: 26px;
  font-weight: 300;
  position: absolute;
  left: 119.78px;
  top: 1804.16px;
  width: 1196.54px;
  height: 86.8px;
}
.comprehensive-care-for-ali-complications-diabetic-foot-urinary-infections-and-diabetic-ketoacidosis {
  color: #000000;
  text-align: left;
  font-family: "InriaSerif-Light", sans-serif;
  font-size: 26px;
  font-weight: 300;
  position: absolute;
  left: 121.69px;
  top: 1684.93px;
  width: 1181.51px;
  height: 87.2px;
}
.diabetes-care {
  color: #d23a25;
  text-align: left;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 34px;
  font-weight: 700;
  position: absolute;
  left: 115px;
  top: 1644px;
  width: 463.52px;
  height: 65.61px;
}
.child-care {
  color: #d23a25;
  text-align: left;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 34px;
  font-weight: 700;
  position: absolute;
  left: 115px;
  top: 1763px;
  width: 481.76px;
  height: 65.61px;
}
.intensive-care-for-renal-failure-emergency-care-central-line-vascular-access-av-fistula-construction {
  color: #000000;
  text-align: left;
  font-family: "InriaSerif-Light", sans-serif;
  font-size: 26px;
  font-weight: 300;
  position: absolute;
  left: 116px;
  top: 1932px;
  width: 1220px;
  height: 86.8px;
}
.vector7 {
  width: 21.67%;
  height: 16.47%;
  position: absolute;
  right: 3.66%;
  left: 74.67%;
  bottom: 28.53%;
  top: 54.99%;
  overflow: visible;
  object-fit: cover;
}
.navbar {
  background: var(--primary, #1f2b6c);
  padding: 17px 187px 18px 187px;
  display: flex;
  flex-direction: row;
  gap: 276px;
  align-items: center;
  justify-content: center;
  width: 1366px;
  position: sticky;
  left: 0px;
  top: 80px;
}
.frame-7 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.home {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}
.about-us3 {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}
.services3 {
  color: var(--accent, #bfd2f8);
  text-align: left;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}
.doctors2 {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}
.news {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}
.contact {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}
.group-180 {
  flex-shrink: 0;
  width: 223px;
  height: 45px;
  position: static;
}
.group-175 {
  width: 1.46%;
  height: 25%;
  position: absolute;
  right: 28.51%;
  left: 70.02%;
  bottom: 38.75%;
  top: 36.25%;
  overflow: visible;
}
.button {
  background: var(--accent, #bfd2f8);
  border-radius: 50px;
  padding: 13px 35px 13px 35px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 12.66%;
  height: 56.25%;
  position: absolute;
  right: 13.65%;
  left: 73.68%;
  bottom: 22.5%;
  top: 21.25%;
}
.button2 {
  color: var(--primary, #1f2b6c);
  text-align: left;
  font-family: "WorkSans-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}


.content2{
  height: 20vh;
  border: 2px solid black;
  background-color:white !important;
}

@media screen and (max-width:480px) {
  .sub-head {
    width: 466px;
    height: 250px;
    position: absolute;
    left: 0px;
    top: 160px;
  }
  .about-us {
    color: var(--primary, #1f2b6c);
    text-align: left;
    font-family: var(--display-1-font-family, "YesevaOne-Regular", sans-serif);
    /* font-size: var(--display-1-font-size, 48px); */
    font-size: 30px;
    font-weight: var(--display-1-font-weight, 400);
    position: absolute;
    right: 63.91%;
    left: 30.69%;
    width: 80.4%;
    bottom: 39.2%;
    top: 50.8%;
    height: 22%;
  }
  .home-about {
    visibility: hidden;
  }
  .facilities-services {
    color: #7b61ff;
    text-align: left;
    font-family: "InriaSerif-Bold", sans-serif;
    font-size: 26px;
    font-weight: 700;
    position: absolute;
    left: 2px;
    top: 461px;
    width: 718px;
    height: 77px;
    -webkit-text-stroke: 1px transparent;
  }
 
  
}